body {
  background: #f2f9f1;
  font-family: "Prompt", sans-serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(95, 91, 91, 0.2);
}
h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 45px;
}

.search-form {
  position: relative;
  left: 300px;
  bottom: 05px;
}
.search-form-input {
  background: #ddeedf;
  border-radius: 5px;
  font-size: 14px;
  width: 40%;
  padding: 10px 40px;
  border: none;
  font-family: "Prompt", sans-serif;
}
.search-form-button {
  background: #5c715e;
  border-radius: 5px;
  font-size: 14 px;
  color: #f2f9f1;
  padding: 10px 10px;
  border: none;
  font-family: "Prompt", sans-serif;
}
footer {
  font-size: 12px;
  padding: 30px 0px 0px;
}
a {
  color: #5c715e;
}
