body {
  background: #f2f9f1;
  font-family: "Bebas Neue", sans-serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(95, 91, 91, 0.2);
}
