body {
  background: #f2f9f1;
  font-family: "Prompt", sans-serif;
}

.weather-app {
  background: white;
  max-width: 500px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(95, 91, 91, 0.2);
}

h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 50px;
  margin: 0 auto;
  position: relative;
  bottom: 3px;
}
h2 {
  font-size: 50px;
  margin: 0px 10px 0px 10px;
}
.search-form {
  margin: 5 px 15px 15px 30px;
}
.search-form-input {
  background: #ddeedf;
  border-radius: 5px;
  margin-left: 0;
  font-size: 14px;
  width: 80%;
  padding: 10px 20px;
  border: none;
  font-family: "Prompt", sans-serif;
}
.search-form-button {
  background: #5c715e;
  border-radius: 5px;
  font-size: 14 px;
  color: #f2f9f1;
  padding: 10px 20px;
  border: none;
  font-family: "Prompt", sans-serif;
}
.weather-details {
  position: relataive;
  left: 400px;
}
footer {
  font-size: 12px;
  padding: 30px 0px 0px;
}
a {
  color: #5c715e;
}
